/* Hintergrund*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#fff3f8;
}

/* Header */
header {
    background:#ffdff4;
    text-align: center;
    padding: 30px 10px;
}

/* Hauptbereich */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
}

/* Karten */
.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 14px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* Überschriften im Inhalt */
h2 {
    color: #092043;
}

/* Listen */
ul {
    text-align: left;
    display: inline-block;
}

/* Code-Blöcke */
pre {
    background: #f4f4f4;
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
}

/* Footer */
#footer {
    text-align: center;
    padding: 20px;
    color: #555;
}